* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --Skyblue: #8ecae6;
  --BlueGreen: #219ebc;
  --Prussianblue: #023047;
  --Selectiveyellow: #ffb703;
  --UTorange: #fb8500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  background-color: var(--Prussianblue);
}
header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font: 2.5rem;
  font-weight: 300;
  color: var(--Selectiveyellow);
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

#new-task-input {
  background-color: var(--UTorange);
  flex: 1 1 0%;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--BlueGreen);
  font-size: 1.25rem;
}
#new-task-input::placeholder {
  color: var(--BlueGreen);
}
#new-task-submit {
  color: var(--Skyblue);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(
    90deg,
    var(--Skyblue),
    var(--Selectiveyellow)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--Selectiveyellow);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--BlueGreen);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content .text {
  color: var(--UTorange);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: var(--);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions i {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: 0.4s;
}

.task .actions i:hover {
  opacity: 0.8;
}

.task .actions .fa-pencil {
  color: greenyellow;
  margin-right: 1rem;
}
.task .actions .fa-trash {
  color: crimson;
}
.task .actions .fa-floppy-disk {
  color: var(--UTorange);
  margin-right: 1rem;
}
